<div class=" white-bg align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center error-container">
        <img class="image-402 img-fluid mx-auto d-block" src="assets/images/error.png" alt="error-img">
      </div>
      <div class="col-md-12 text-center">
        <h3 class="error-title">404 - Page non trouvée</h3>
        <p class="error-message">La page que vous recherchez n'existe pas ou a été déplacée.</p>
      </div>
      <div class="col-md-12 text-center">
        <a routerLink="/home" class="custom-btn mt-4">RETOUR À L'ACCUEIL</a>
      </div>
    </div>
  </div>
</div>
