
<div class="card p-3">
  <h5>Filtre des Experts</h5>

  <!-- Domain Filter -->
  <div class="mb-2">
    <label for="domainSelect">Domaine:</label>
    <select
      id="domainSelect"
      [(ngModel)]="selectedDomain"
      (change)="applyFilters()"
      class="form-control"
    >
      <option value="">Tous</option>
      <option *ngFor="let domain of domaineOptions" [value]="domain.name">
        {{ domain.name }}
      </option>
    </select>
  </div>

  <!-- Radius Filter -->
  <!-- Radius Filter -->
  <div class="mb-2">
    <label for="ratingRange">Rayon: {{ radiusKm }} km</label>
    <input
      type="range"
      class="form-range"
      id="ratingRange"
      min="0"
      max="500"
      step="0.5"
      [(ngModel)]="radiusKm"
      (change)="applyFilters()"
    />
    <button class="btn btn-primary mb-2" (click)="getUserLocation()">
      Utiliser ma position
    </button>
    <small
      class="text-danger d-block mb-2"
      *ngIf="radiusKm > 0 && (lat === null || lng === null)">
       Pour utiliser le filtre de rayon, veuillez cliquer sur "Utiliser ma position".
    </small>

  </div>


  <!-- Rating Range Filter -->
  <div class="mb-2">
    <label for="ratingRange">Rating : {{ minRating }} - {{ maxRating }}</label>
    <div class="d-flex align-items-center">
      <input
        type="range"
        class="form-range me-2"
        min="0"
        max="5"
        step="0.1"
        [(ngModel)]="minRating"
        (change)="applyFilters()"
      />
      <input
        type="range"
        class="form-range"
        min="0"
        max="5"
        step="0.1"
        [(ngModel)]="maxRating"
        (change)="applyFilters()"
      />
    </div>
  </div>

  <button class="btn btn-sm btn-secondary mt-2" (click)="clearFilters()">Réinitialiser les filtres</button>
</div>
