<nav class="navbar navbar-expand-lg nav-crev" [class.nav-scroll]="isSticky">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand2 icon-img-100 me-3" [routerLink] = "'/'">
      <img [src]="logo" alt="Logo" class="logo">
    </a>
    <div class="nav-spacer d-none d-lg-block" style="width: 170px;"></div>
    <div class="flex-grow-1 d-flex justify-content-center">
      <div class="collapse navbar-collapse" [ngClass]="{'collapse': isCollapsed, 'navbar-collapse': true}" id="navbarNavAltMarkup">
        <ul *ngIf="isHomePage" class="navbar-nav navbar-center xs-mt-20">
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('home')">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('expertises')">Domaines d'expertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('expert')">Nos experts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-button ms-3">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isAuthenticated">
          <a routerLink="/auth/signin">
            <button type="button" class="btn btn-lg btn-gradient-primary btn-circle">Se connecter</button>
          </a>
        </li>
        <ul class="nav navbar-nav navbar-right align-items-center" *ngIf="isAuthenticated">
          <!-- Notification Icon -->
          <li class="nav-item">
            <div class="dropdown" ngbDropdown placement="auto">
              <button
                class="btn btn-icon btn-rounded btn-outline-primary"
                ngbDropdownToggle
                type="button"
              >
                <i class="feather icon-bell fs-3"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end notification" style="width:  20vw;">
                <app-notification></app-notification>
              </div>

            </div>
          </li>



          <!-- Profile Dropdown -->
          <li class="nav-item " ngbDropdown placement="bottom-end">
            <button
              class="btn btn-icon btn-rounded btn-outline-secondary"
              id="profileDropdown"
              ngbDropdownToggle
              type="button"
            >
              <i class="feather icon-user fs-4"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="profileDropdown" class="dropdown-menu-end">
              <a class="dropdown-item" routerLink="/profile">
                <i class="feather icon-user me-2"></i> Profil
              </a>
              <button class="dropdown-item text-danger" (click)="logout()">
                <i class="feather icon-log-out me-2"></i> Logout
              </button>
            </div>
          </li>
        </ul>


      </ul>
    </div>

    <button class="navbar-toggler ms-auto d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"><i class="icofont icofont-navigation-menu"></i></span>
    </button>
  </div>
</nav>
